.drawer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: white ;
    z-index: 90;
    transform: translateX(0px);
    transition: all .3s ease-in-out ;
}

.close {
    transform: translateX(-300px);

}

.active {
    opacity: .7;
}
.drawer ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
.drawer ul li {
    margin-bottom: 15px;
}

.drawer ul li a {
    color:blue;
    text-decoration: none;
    font-size:30px;
    padding:0 20px 10px 20px;
}