.menuToggle {
position: fixed;
    top: 40px;
    left: 40px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    transition: all .3s ease-in-out ;

}

.menuToggle:hover{
    opacity: .7;
}
.open {
left: 320px;
}