.input{
    margin-bottom: 10px;
}
.input label {
    margin-bottom: 5px;
    padding: 0;
    display: block;
    font-weight: bold;
}

.input input {
    display: block;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    padding: 10px;
    width: 100%;
    outline: none ;
    transition: all .3s ease-in-out ;
}

.input span {
    color: #e31818;
    font-size: 14px;
    font-weight: bold;
}
.input.invalid label {
    color: #e31818;
}